* {
  box-sizing: border-box;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
button,
textarea,
th,
td,
figure {
  margin: 0;
  padding: 0;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

img {
  max-width: 100% !important;
  height: auto !important;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  text-decoration: none;
}

input,
textarea {
  outline: none;
}

.darkmode {
  --darkModeBlack: #ffffff;
  --darkModeGray: #767676;
  --darkModeWhite: #26292c;
  --darkModeDarkGreen: #8f4343;
  --darkModeLightGreen: #ffffff;
  --darkModeDarkBrown: #ffffff;
  --darkModeBrown: #ffffff;
  --darkModeLinghtBrown: #ffffff;
}

.color-example {
  background-color: var(--darkModeDarkGreen, #334c3f);
}

:root {
  --ps: calc(100vw / 1440);
  --pp: calc(100vw / 768);
  --ph: calc(100vw / 468);
}

.add-news {
  padding: 50px 0 50px 40px ;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  flex: 1;
  background: var(--darkModeWhite, #ffffff);
}
.add-news .title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.add-news .title {
  font-size: 17px;
  font-weight: 700;
  color: var(--darkModeDarkBrown, #767067);
}
.add-news .countPeople-box{
    display: flex;
    justify-content: flex-end;
}
.add-news .countPeople {
    font-size: 13px;
    color:#26292c;
    margin:0 10px 5px;
}
.add-news .add-input-box {
  width: 800px;
  height: auto;
  min-height: 750px;
  padding: 30px;
  border: 1px solid var(--darkModeBlack, #26292c);
  color: var(--darkModeBlack, #26292c);
}
.add-news .add-input-box table{
    width: 100%;
}
.add-news .add-input-box table th{
    height: 35px;
    text-align: center;
    background-color: #26292c;
    color: white;
    border: 1px solid  #26292c;
}
.add-news .add-input-box table td{
    height: 30px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid  #26292c;
}

.bar-box{
    padding: 8px 20px;
}
.bar{

    height: 100%;
    background-color:#767067;
}